{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />


    <!-- aos transition -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- flaticon -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>


    <div class="min-h-screen w-full bg-gray-100 flex flex-col">
        {% block content %}

        {% endblock content %}
        {% include 'components/footer.html' %}
    </div>

    <!-- animate js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>


    <!-- aos transition -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>



    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>